Lekce_1/Hello World/obj/Hello World.csproj.nuget.dgspec.json
Lekce_1/Hello World/obj/Hello World.csproj.nuget.g.props
Lekce_1/Hello World/obj/Hello World.csproj.nuget.g.targets
Lekce_1/Hello World/obj/project.assets.json
Lekce_1/Hello World/obj/project.nuget.cache
Lekce_1/Hello World/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.AssemblyInfo.cs
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.AssemblyInfoInputs.cache
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.assets.cache
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.GeneratedMSBuildEditorConfig.editorconfig
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.GlobalUsings.g.cs
.vscode/settings.json
Lekce_1/Hello World/bin/Debug/net9.0/Hello World.deps.json
Lekce_1/Hello World/bin/Debug/net9.0/Hello World.dll
Lekce_1/Hello World/bin/Debug/net9.0/Hello World.exe
Lekce_1/Hello World/bin/Debug/net9.0/Hello World.pdb
Lekce_1/Hello World/bin/Debug/net9.0/Hello World.runtimeconfig.json
Lekce_1/Hello World/obj/Debug/net9.0/apphost.exe
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.csproj.CoreCompileInputs.cache
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.csproj.FileListAbsolute.txt
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.dll
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.genruntimeconfig.cache
Lekce_1/Hello World/obj/Debug/net9.0/Hello World.pdb
Lekce_1/Hello World/obj/Debug/net9.0/ref/Hello World.dll
Lekce_1/Hello World/obj/Debug/net9.0/refint/Hello World.dll
Lekce_1b/Lekce1bverze/obj/Lekce1bverze.csproj.nuget.dgspec.json
Lekce_1b/Lekce1bverze/obj/Lekce1bverze.csproj.nuget.g.props
Lekce_1b/Lekce1bverze/obj/Lekce1bverze.csproj.nuget.g.targets
Lekce_1b/Lekce1bverze/obj/project.assets.json
Lekce_1b/Lekce1bverze/obj/project.nuget.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/apphost.exe
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.AssemblyInfo.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.AssemblyInfoInputs.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.assets.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.csproj.CoreCompileInputs.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.csproj.FileListAbsolute.txt
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.GeneratedMSBuildEditorConfig.editorconfig
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.genruntimeconfig.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.GlobalUsings.g.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.pdb
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.sourcelink.json
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/ref/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/refint/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/apphost.exe
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.AssemblyInfo.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.AssemblyInfoInputs.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.assets.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.csproj.CoreCompileInputs.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.csproj.FileListAbsolute.txt
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.GeneratedMSBuildEditorConfig.editorconfig
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.genruntimeconfig.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.GlobalUsings.g.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.pdb
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.sourcelink.json
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/ref/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/refint/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/ref/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/ref/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/refint/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/refint/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/apphost.exe
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.AssemblyInfo.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.AssemblyInfoInputs.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.assets.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.csproj.CoreCompileInputs.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.csproj.FileListAbsolute.txt
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.GeneratedMSBuildEditorConfig.editorconfig
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.genruntimeconfig.cache
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.GlobalUsings.g.cs
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.pdb
Lekce_1b/Lekce1bverze/obj/Debug/net9.0/Lekce1bverze.sourcelink.json
Lekce_1b/Lekce1bverze/obj/Lekce1bverze.csproj.nuget.dgspec.json
Lekce_1b/Lekce1bverze/obj/Lekce1bverze.csproj.nuget.g.props
Lekce_1b/Lekce1bverze/obj/Lekce1bverze.csproj.nuget.g.targets
Lekce_1b/Lekce1bverze/obj/project.assets.json
Lekce_1b/Lekce1bverze/obj/project.nuget.cache
Lekce_1b/Lekce1bverze/bin/Debug/net9.0/Lekce1bverze.deps.json
Lekce_1b/Lekce1bverze/bin/Debug/net9.0/Lekce1bverze.dll
Lekce_1b/Lekce1bverze/bin/Debug/net9.0/Lekce1bverze.exe
Lekce_1b/Lekce1bverze/bin/Debug/net9.0/Lekce1bverze.pdb
Lekce_1b/Lekce1bverze/bin/Debug/net9.0/Lekce1bverze.runtimeconfig.json
